{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted | date:"F j, Y" }}</small>
      </div>
      <h2>{{ post.title }}</h2>
      <p class="article-content">{{ post.content | safe }}</p>
    </div>
  </article>
{% endblock %}