{% extends "blog/base.html" %}
{% block content %}
  {% for post in posts %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="/about">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted | date:"F j, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content | safe | truncatechars:100 }}</p>
      </div>
    </article>
  {% endfor %}
{% endblock %}